.notifyContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 2rem;
  background-color: #141414;
  height: max-content;
  border-radius: 0.2rem;
  transform: translate(100%);
  .greenbar {
    background-color: #0f0;
    height: 2px;
  }
  h2 {
    padding: 0.5rem;
  }
}
.AniNotif {
  animation: notification 5s ease-in-out;
}
.Anigreenbar {
  animation: greenBar 5s ease-in-out;
}
@keyframes notification {
  0%,
  100% {
    transform: translate(100%);
  }
  10% {
    transform: translate(-10%);
  }
  15% {
    transform: translate(0);
  }
  90% {
    transform: translate(0);
  }
}
@keyframes greenBar {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
